.AmountSelector{
    /* display: inline-block; */
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 500;
    float: right;
    height: 30px;
    line-height: 10px;
    position: relative;
    top: 5px;
}
.AmountSelector-amount{
    position: relative;
    bottom: 10px;
    font-size: 30px;
    font-weight: 200;
    color: white;
    text-shadow: 1px 1px 5px black;
}
.AmountSelector .add , .AmountSelector .clear{
    cursor: pointer;
    height: 40px !important;
    width: 40px !important;
    /* stroke: white; */
    filter: drop-shadow( 1px 1px 3px #000 );
}
.AmountSelector svg path{
    cursor: pointer;
    fill: white;
    stroke: rgba(255, 255, 255, 0);

}
