.CollectionScreen{
}
.PriceScreen{
    margin-top: 5px;
    padding: 10px;
    background-color: #494cde !important;
    color: white !important;
    font-size: 25px;
    font-weight: 200;
    overflow: auto;
}
.PriceScreen .money-total{
    line-height: 40px;
}
.Buy-Button{
    background-color: white;
    color: #494cde;
    float: right;
    padding: 5px;
    cursor: pointer;

}
