.CollectionScreen{
}
.PriceScreen{
    padding: 10px;
    background-color: green !important;
    color: white !important;
    font-size: 25px;
    font-weight: 200;
    overflow: auto;
}
.PriceScreen .money-total{
    line-height: 40px;
}
.Buy-Button{
    background-color: white;
    color: green;
    float: right;
    padding: 5px;
    cursor: pointer;

}
