.Item{
    padding: 10px;
    overflow: auto;
    height: 75px;
}
.Item-img{
    float: left;
    height: 100%;
    width: auto;
    max-width: 75px;
    margin-right: 10px;
}
.Item-name, .Item-description{
    font-weight:200;
}
