.Navigation{
}
.main-body{
    margin-top: 70px;
}
.logout{
    /* background-color: white; */
    color: white;
    padding: 10px;
    float: right;
    cursor: pointer;
}
.nav-link{
    float: left;
    color: white;
    line-height: 40px;
    font-size: 30px;
    font-weight: 200;
    margin: 0 10px;
}
.active-link{
    border-bottom: 2px solid white;
}
.nav-icon{
    margin-top: 5px;
    max-height: 30px;
}
.app-header {
    background-color: #f44961;
    padding: 2px;
    overflow: auto;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 0px 10px 0px black;
}
