*, *:after, *:before{
  box-sizing: border-box;
}

html{
  font-family: 'Roboto', sans-serif;
  background-color: #fefeff;
}
a{
  text-decoration: none;
  color: inherit;
}
.marginless{
  margin: 0;
}
.margy{
  margin: 10px;
}
.padded{
  padding: 10px;
}
.padded-left{
  padding-left: 10px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.light{
  font-weight: 200;
}
.grey{
  color: grey;
}
